//Importing Angular Material
@import '~@angular/material/theming';

//Define custom font to use with Material, then include it
$custom-typography: mat-typography-config($font-family: "'Raleway', sans-serif;");
@include mat-core($custom-typography);

//Define custom color palettes for the App's primary, accent and warning colors (numbers indicate default, lighter and darker variants)
$dark-mode-primary:  mat-palette($mat-indigo, 200, 100, 700);
$dark-mode-accent: mat-palette($mat-gray, 500, 300, 900);
$dark-mode-warn: mat-palette($mat-red, 200);

//Define a theme using the above palettes
$dark-mode-theme: mat-dark-theme($dark-mode-primary, $dark-mode-accent, $dark-mode-warn);

//Include the theme defined above as the default
@include angular-material-theme($dark-mode-theme);

//Define another theme and import it in a class (not default)
$light-mode-primary:  mat-palette($mat-indigo, 500, 200, 700);
$light-mode-accent: mat-palette($mat-blue-gray, 500, 300, 900);
$light-mode-warn: mat-palette($mat-red);
$light-mode-theme: mat-light-theme($light-mode-primary, $light-mode-accent, $light-mode-warn);


.dark-theme {
  @include angular-material-theme($dark-mode-theme);

  .bigContainer, .bigContainer2 {
    background-color: #121212;
  }

  mat-card, mat-expansion-panel, mat-expansion-panel-header {
    background-color: mat-color($dark-mode-accent, darker) !important;
  }

  .active {
    background-color: mat-color($dark-mode-primary) !important;
    color: #15161C !important;
  }
  
  .activeSmall {
    color: mat-color($dark-mode-primary) !important;
  }
  
  .contrastText {
    color: #FFFFFF !important;
  }
}

.light-theme {
  @include angular-material-theme($light-mode-theme);

  .bigContainer, .bigContainer2 {
    background-color: mat-color($light-mode-accent, lighter);
  }

  .active {
    background-color: mat-color($light-mode-primary) !important;
    color: #FFFFFF !important;
  }

  .activeSmall {
    color: mat-color($light-mode-primary) !important;
  }

  .contrastText {
    color: rgb(0, 0, 0) !important;
  }
}

html {
  font-family: Raleway, Roboto, 'Helvetica Neue', sans-serif;
  background-color: #000;
}

html, body, .bigContainer {
  height: 100%;
  margin: 0;
}

.bigContainer, .bigContainer2 {
  background-color: #000;
}

app-header {
  position: -webkit-sticky /* Safari */;
  position: sticky;
  top: 0;
  z-index: 200;
}

a {
  color: inherit;
}

mat-toolbar a {
  text-decoration: none;
}

.stdPadding {
  padding: 1em;
}

.stdMargin {
  margin: 1em;
}

.imageFileName {
  width: 20vw;
}

.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}