//Importing Angular Material
@import '~@angular/material/theming';

//Define custom font to use with Material, then include it
$custom-typography: mat-typography-config($font-family: "'Raleway', sans-serif;");
@include mat-core($custom-typography);

//Define custom color palettes for the App's primary, accent and warning colors (numbers indicate default, lighter and darker variants)
$dark-mode-primary:  mat-palette($mat-red);
$dark-mode-accent: mat-palette($mat-gray);
$dark-mode-warn: mat-palette($mat-yellow);

//Define a theme using the above palettes
$dark-mode-theme: mat-dark-theme($dark-mode-primary, $dark-mode-accent, $dark-mode-warn);

//Define another theme and import it in a class (not default)
$light-mode-primary: mat-palette($mat-red);
$light-mode-accent: mat-palette($mat-gray);
$light-mode-warn: mat-palette($mat-yellow);
$light-mode-theme: mat-light-theme($light-mode-primary, $light-mode-accent, $light-mode-warn);

/* Dark mode */
@media (prefers-color-scheme: dark) {
  @include angular-material-theme($dark-mode-theme);

  html {
    color: #FFFFFF;
    background-color: #000000
  }

  app-note mat-card, mat-dialog-container {
    background-color: #1F1F1F !important;
  }

  mat-toolbar {
    background-color: mat-color($dark-mode-primary) !important;
    color: #000000 !important;
  }

  .active {
    background-color: #000000 !important;
    color: mat-color($dark-mode-primary) !important;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  @include angular-material-theme($light-mode-theme);

  html {
    color: #000000;
    background-color: #FFFFFF
  }

  app-note mat-card, mat-dialog-container {
    background-color: #EEEEEE !important;
  }

  mat-toolbar {
    background-color: mat-color($light-mode-primary) !important;
    color: #FFFFFF !important;
  }

  .active {
    background-color: #FFFFFF !important;
    color: mat-color($light-mode-primary) !important;
  }
}

html {
  font-family: Raleway, Roboto, 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

app-header {
  position: -webkit-sticky /* Safari */;
  position: sticky;
  top: 0;
  z-index: 200;
}

a {
  color: inherit;
}

mat-toolbar {
  padding-top: 0.5em !important;
  padding-bottom:0.5em !important;
  a {
    text-decoration: none;
  }
}

.stdPadding {
  padding: 1em;
}

.stdMargin {
  margin: 1em;
}

.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialogButtonsDiv {
  position: fixed !important;
  top: 1.25em !important;
  right: 1.75em !important;
  left: 1.75em !important;
  z-index: 1000 !important;
}