<mat-card *ngIf="note else progressBar;" fxLayout="column" fxFill>
  <mat-card-title>
    <div style="overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;">{{note.title}}</div>
  </mat-card-title>
  <mat-card-subtitle>{{viewText}}</mat-card-subtitle>
  <div fxLayout="row" fxLayoutGap="1em" fxFlex="100%" fxLayoutAlign="end end">
    <button mat-icon-button (click)="deleteNote()" [disabled]="waiting">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="updateNote()" [disabled]="waiting">
      <mat-icon>archive</mat-icon>
    </button>
  </div>
  <div *ngIf="note.tags.length > 0">
    <small selected disabled *ngFor="let tag of note.tags">{{tag}}, </small>
  </div>
</mat-card>

<ng-template #progressBar>
  <mat-card>
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
</ng-template>