<div mat-dialog-title>&nbsp;</div>
<div class="dialogButtonsDiv">
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center" fxLayoutGap="1em" *ngIf="data">
    <button mat-mini-fab color="" (click)="updateNote()" [disabled]="disableForm" [matTooltipShowDelay]="1500"
      matTooltip="Save" aria-label="Button that saves changes to this Note">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-mini-fab color="" (click)="deleteNote()" [disabled]="disableForm" [matTooltipShowDelay]="1500"
      matTooltip="Delete" aria-label="Button that deletes this Note">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="" (click)="archiveNote()" [disabled]="disableForm" [matTooltipShowDelay]="1500"
      matTooltip="Archive" *ngIf="!data.note.archived" aria-label="Button that archives this Note">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-mini-fab color="" (click)="unArchiveNote()" [disabled]="disableForm" [matTooltipShowDelay]="1500"
      matTooltip="Unrchive" *ngIf="data.note.archived" aria-label="Button that unarchives this Note">
      <mat-icon>unarchive</mat-icon>
    </button>
    <button mat-mini-fab color="" (click)="close()" [disabled]="disableForm" [matTooltipShowDelay]="1500" matTooltip="Close"
      aria-label="Button that closed this Note without saving changes">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center" fxLayoutGap="1em" *ngIf="!data">
    <button mat-mini-fab color="" (click)="addNote()" [disabled]="disableForm" [matTooltipShowDelay]="1500" matTooltip="Save"
      aria-label="Button that saves changes to this Note">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-mini-fab color="" (click)="close()" [disabled]="disableForm" [matTooltipShowDelay]="1500" matTooltip="Close"
      aria-label="Button that closed this Note without saving changes">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form [formGroup]="noteForm" fxLayout="column" fxLayoutGap="1em">
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title" type="text" required>
  </mat-form-field>
  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" formControlName="note"
    placeholder="Note" type="text"></textarea>
  <mat-form-field fxFlex="100%">
    <mat-chip-list #chipList>
      <div *ngIf="data">
        <mat-chip *ngIf="data.note.archived" [selectable]="true" [removable]="false">Archived</mat-chip>
      </div>
      <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>
</form>