<div fxLayout="column">
    <div class="stdMargin" fxLayout="column" fxLayoutGap="1em">
        <mat-card fxLayout="column">
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}<span *ngIf="user.userType == 'ADMIN'"> -<b> ADMIN</b></span>
            </mat-card-subtitle>
        </mat-card>
        <mat-card fxLayout="column" fxLayoutGap="1em">
            <mat-card-title>Update Info</mat-card-title>
            <form [formGroup]="userInfoForm" (ngSubmit)="updateUser()" fxLayout="column" fxLayoutAlign="start">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" fxLayoutGap.lt-sm="0em">
                    <mat-form-field fxFlex="100%">
                        <input matInput formControlName="firstName" placeholder="First Name" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput formControlName="lastName" placeholder="Last Name" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <button mat-raised-button type="submit" color="accent"
                        [disabled]="loading || !userInfoForm.valid">Update</button>
                </div>
            </form>
        </mat-card>
        <mat-card fxLayout="column" fxLayoutGap="1em">
            <mat-card-title>Update Password</mat-card-title>
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" fxLayout="column" fxLayoutAlign="start">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" fxLayoutGap.lt-sm="0em">
                    <mat-form-field fxFlex="100%">
                        <input matInput formControlName="password" placeholder="Current Password" type="password"
                            required>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput formControlName="newPassword" placeholder="Password" type="password"
                            pattern="^(?=.*\d).{4,30}$" required>
                        <mat-hint>4 - 20 characters, at least 1 digit</mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput formControlName="passwordConfirm" placeholder="Confirm Password" type="password"
                            required>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <button mat-raised-button type="submit" color="accent"
                        [disabled]="loading || !passwordForm.valid">Update</button>
                </div>
            </form>
        </mat-card>
        <div fxLayout="column" fxLayoutGap="1em">
            <mat-expansion-panel class="stdMargin">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>Delete Account</b>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()" fxLayout="column"
                    fxLayoutAlign="start">
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" fxLayoutGap.lt-sm="0em">
                        <mat-form-field fxFlex="100%">
                            <input matInput formControlName="password" placeholder="Current Password" type="password"
                                required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <button mat-raised-button type="submit" color="warn"
                            [disabled]="loading || !deleteAccountForm.valid"><b>DELETE
                                PERMANENTLY</b></button>
                    </div>
                </form>

            </mat-expansion-panel>

        </div>
    </div>

</div>