<form [formGroup]="noteForm" fxLayout="column" *ngIf="!loading else progressBar;" fxFlex="100%">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="3em">
      <mat-form-field fxFlex="100%">
        <input matInput formControlName="title" placeholder="Title" type="text" required>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1em" fxHide fxShow.sm fxShow.gt-sm>
        <button mat-icon-button (click)="updateNote()" [disabled]="waiting" matTooltip="Save"
          aria-label="Button that saves changes to this Note">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteNote()" [disabled]="waiting" matTooltip="Delete"
          aria-label="Button that deletes this Note">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="archiveNote()" [disabled]="waiting" matTooltip="Archive" *ngIf="!note.archived"
          aria-label="Button that archives this Note">
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button (click)="unArchiveNote()" [disabled]="waiting" matTooltip="Unrchive"
          *ngIf="note.archived" aria-label="Button that unarchives this Note">
          <mat-icon>unarchive</mat-icon>
        </button>
        <button mat-icon-button (click)="close()" [disabled]="waiting" matTooltip="Close"
          aria-label="Button that closed this Note without saving changes">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <mat-dialog-content fxLayout="column">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" formControlName="note"
      placeholder="Note" type="text"></textarea>
  </mat-dialog-content>
  <small>&nbsp;</small>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1em" fxHide fxShow.lt-sm>
    <button mat-icon-button (click)="updateNote()" [disabled]="waiting" matTooltip="Save"
      aria-label="Button that saves changes to this Note">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteNote()" [disabled]="waiting" matTooltip="Delete"
      aria-label="Button that deletes this Note">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="archiveNote()" [disabled]="waiting" matTooltip="Archive" *ngIf="!note.archived"
      aria-label="Button that archives this Note">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button (click)="unArchiveNote()" [disabled]="waiting" matTooltip="Unrchive" *ngIf="note.archived"
      aria-label="Button that unarchives this Note">
      <mat-icon>unarchive</mat-icon>
    </button>
    <button mat-icon-button (click)="close()" [disabled]="waiting" matTooltip="Close"
      aria-label="Button that closed this Note without saving changes">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</form>

<ng-template #progressBar>
  <mat-card>
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
</ng-template>