<mat-toolbar fxLayout="row" class="cardBG stdPadding mat-elevation-z1">
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" fxLayoutGap="1em">
        <h1><a routerLink="/">Andika</a></h1>
        <div>
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" fxHide fxShow.sm fxShow.gt-sm>
                <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/home"
                    *ngIf="!loggedIn">Home</button>
                <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/home"
                    *ngIf="loggedIn">Notes</button>
                <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/archived"
                    *ngIf="loggedIn">Archived</button>
                <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/account"
                    *ngIf="loggedIn">Account</button>
                <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/about">About</button>
                <button mat-raised-button color="accent" (click)="logout()" *ngIf="loggedIn">Log Out</button>
            </div>

            <div fxLayout="row" fxLayoutAlign="default center" fxHide fxShow.lt-sm style="height: 0.5em !important;">
                <button mat-icon-button routerLinkActive="activeSmall" routerLink="/home" *ngIf="!loggedIn">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button routerLinkActive="activeSmall" routerLink="/home" *ngIf="loggedIn">
                    <mat-icon>notes</mat-icon>
                </button>
                <button mat-icon-button routerLinkActive="activeSmall" routerLink="/archived" *ngIf="loggedIn">
                    <mat-icon>archive</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" fxHide fxShow.lt-sm>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/account" routerLinkActive="activeSmall"
                        *ngIf="loggedIn">Account</button>
                    <button mat-menu-item routerLinkActive="activeSmall" routerLink="/about">About</button>
                    <button mat-menu-item class="redText" (click)="logout()" *ngIf="loggedIn">Log
                        Out</button>
                </mat-menu>
            </div>
            <!--

-->

        </div>

    </div>
</mat-toolbar>