<mat-card  class="stdMargin">
    <mat-card-title>Andika</mat-card-title>
    <mat-card-subtitle>Simple Note taking Application made with Angular, Node.js and PostgreSQL. Code available on
        <a href="https://github.com/ImranR98/andika" target="_blank">GitHub</a>.</mat-card-subtitle>
    <mat-divider [inset]=true></mat-divider>
    <br>
    <mat-card-title>Changelog</mat-card-title>
    <mat-card-subtitle>2019-08-23 - Redesign + light/dark theme switcher.
        </mat-card-subtitle>
    <mat-card-subtitle>2019-08-22 - New Features: Change Name, Update Password, Forgot Password, Search Notes,
        Archived Page.
    </mat-card-subtitle>
    <mat-card-subtitle>2019-06-01 - Bugfix: Old notes persist on frontend after logging out and making changes from
        separate frontend. Fix: API is fully independent from frontend.</mat-card-subtitle>
    <mat-card-subtitle>2019-05-20 - Initial Release.</mat-card-subtitle>
    <mat-card-subtitle>2019-04-30 - Started Development.</mat-card-subtitle>
</mat-card>