<div fxLayout="column" fxLayoutGap="1em">
    <mat-card>
        <mat-card-title>About</mat-card-title>
    </mat-card>

    <mat-card>
        <p>Simple Note taking Application made with Angular, Node.js and PostgreSQL.</p>
        <p>Code available on <a href="https://github.com/ImranR98/andika" target="_blank">GitHub</a></p>
    </mat-card>

    <mat-card fxLayout="column">
        <p>Changelog</p>
        <small>2019-05-20</small><small>&nbsp;</small>
        <mat-card-subtitle>Initial Release.</mat-card-subtitle>
        <small>2019-04-30</small><small>&nbsp;</small>
        <mat-card-subtitle>Started Development.</mat-card-subtitle>
    </mat-card>
</div>