<div *ngIf="!loading">
  <div fxLayout="column" fxLayoutGap="1em" fxHide fxShow.gt-lg="true">
    <div fxLayout="row" fxLayoutGap="1em" *ngFor="let row of notesBy4">
      <div *ngFor="let note of row" fxFlex="25%">
        <app-note [note]="note"></app-note>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="1em" fxHide fxShow.lg="true">
    <div fxLayout="row" fxLayoutGap="1em" *ngFor="let row of notesBy3">
      <div *ngFor="let note of row" fxFlex="32.5%">
        <app-note [note]="note"></app-note>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="1em" fxHide fxShow.md="true">
    <div fxLayout="row" fxLayoutGap="1em" *ngFor="let row of notesBy2">
      <div *ngFor="let note of row" fxFlex="49.3%">
        <app-note [note]="note"></app-note>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="1em" fxHide fxShow.lt-md="true">
    <div *ngFor="let note of notes">
      <app-note [note]="note"></app-note>
    </div>
  </div>

  <div *ngIf="notes">
    <mat-card *ngIf="notes.length == 0">
      <span>No Notes here yet, use the button on the bottom right to get started.
      </span>
    </mat-card>
  </div>

  <button *ngIf="!loading" mat-fab color="primary" style="position: fixed; bottom: 1em; right: 1em;" matTooltip="Add"
    aria-label="Button that adds a new Note" (click)="addNote()">
    <mat-icon>add</mat-icon>
  </button>

  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>