<div fxLayout="column" fxLayoutGap="1em">
  <mat-card>
    <mat-card-title>Notes</mat-card-title>
  </mat-card>

  <div fxLayout="column" fxLayoutGap="1em" *ngIf="!loading else progressBar;">
    <div *ngFor="let notes of notesBy2" fxLayout="row" fxLayoutGap="1em">
      <div *ngFor="let note of notes" fxFlex="50%">
        <app-note [note]="note"></app-note>
      </div>
    </div>
  </div>
</div>

<ng-template #progressBar>
  <mat-card>
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
</ng-template>